.app {
  width: 600px;
  height: 600px;
  overflow: hidden;
  margin: 10px;
  background: yellow;
}
.node {
  width: 580px;
  height: 580px;
  overflow: hidden;
  margin: 10px;
  background: pink;
}
.subnode {
  width: 560px;
  height: 560px;
  overflow: hidden;
  margin: 10px;
  background: blue;
}
.child {
  width: 540px;
  height: 540px;
  overflow: hidden;
  margin: 10px;
  background: paleturquoise;
}